<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="login-container">
        <h2>Sign in</h2>
        <form class="form-signing" method="post" action="/login">
          {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2024–2025</p>
        </form>
    </div>
</body>
</html>

